# OpenAI API
OPENAI_API_KEY=your_openai_api_key_here

# PostgreSQL
POSTGRES_URL=postgresql://user:password@localhost:5432/octo_chatbot

# System
SYSTEM_DEBUG=False
SYSTEM_API_HOST=0.0.0.0
SYSTEM_API_PORT=8000

# CORS
SYSTEM_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
